body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-left {
    display: flex;
    padding: 16px;
    background: #FFF;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  
  .header-left h1,
  h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .ten {
    display: flex;
    padding: 8px 9px;
    border-radius: 8px;
    background: #E0E0E0;
    align-items: center;
    gap: 4px;
  }
  
  input {
    display: flex;
    background-image: url(../icons/search-icon.png);
    background-repeat: no-repeat;
    background-position: 9px 9px;
    padding: 8px 33px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    outline: none;
    border-radius: 8px;
    border: 1px solid #9E9E9E;
  }
  
  button {
    display: flex;
    width: 139px;
    height: 32px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: none;
    outline-style: none;
    margin-right: 16px;
    color: white;
    background: #624DE3;
  }
  
  table {
    width: 100%;
    border: none;
    border-collapse: collapse;
  }

  table img {
    width: 35px;
    height: 35px;
  }
  
  th {
    width: 120px;
    font-size: 14px;
    font-weight: 700;
    padding: 16px;
    text-align: start;
  }
  
  .heads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70%;
    width: 120px;
  }
  
  td {
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
    text-align: start;
  }
  
  tr:nth-child(even) {
    background: #F7F6FE;
  }
  
  .product-cont {
    display: flex;
    padding: 8px 12px;
    border-radius: 22px;
    align-items: center;
    gap: 10px;
  }
  
  .delivered {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 83px;
    height: 31px;
    border-radius: 22px;
    margin-left: -10px;
    color: #1F9254;
    background: #EBF9F1;
  }
  
  .icon-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
  }
  
  .icon-cont img {
    width: 20px;
    height: 20px;
  }
  
  .process {
    display: flex;
    padding: 8px 12px;
    border-radius: 22px;
    color: #CD6200;
    background: #FEF2E5;
    width: 71px;
    height: 31px;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    gap: 10px;
  }
  
  .canceled {
    color: #A30D11;
    display: flex;
    width: 81px;
    height: 31px;
    padding: 8px 12px;
    border-radius: 22px;
    background: #FBE7E8;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    gap: 10px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }
  
  .footcont {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  p {
    font-size: 12px;
    font-weight: 500;
    color: #9E9E9E;
  }
  
  .page {
    display: flex;
    width: 31px;
    height: 31px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    color: #FFF;
    background: #624DE3;
  }